header {
    background-color: #90A955;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 4%;
}

header h1 {
    text-align: left;
    font-weight: bold;
}

.nav-sec {
    display: inline-block;
}